NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_BASIC_AUTH_USER=bsoper
NEXT_PUBLIC_BASIC_AUTH_PASSWORD_SHA256=5488f793f9558f2b8a27271938ceeb236868855862922c0df451dae84cd568e3
UPKEEP_COMPANY_ID=
UPKEEP_API_BASE_URL=https://api.onupkeep.com/api/v2
UPKEEP_EMAIL=
UPKEEP_PASSWORD=
UPKEEP_SESSION_TOKEN=
UPKEEP_USERS_ENDPOINT=/users
UPKEEP_TIMEOUT_MS=15000
UPKEEP_PAGE_SIZE=200
UPKEEP_MAX_PAGES=20
AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
PAYROLL_SQL_SERVER=SVWPDBS04
PAYROLL_SQL_DATABASE=
PAYROLL_SQL_TABLE=EMP_INFO
PAYROLL_SQL_CONNECTION_STRING=
PAYROLL_SQL_QUERY=
